$primary-bg: #4343b8;
$secondary-bg: #c75e21;
$primary-text: #636318;
$secondary-text: #10164e;


.test{
    max-width: 20%;
    padding: 100px;
    border: 10px outset $secondary-bg;
}

#container{
    display: flex;
    flex-direction: row;
}

.elementOne{
    color: var($primary-text);
    background-color: var($primary-bg);
    margin: 10px;
    display: inline-block;
}
.elementTwo{
    color:var($secondary-text);
    background-color: var($secondary-bg);
    margin: 10px;
    display: inline-block;
}
.elementThree{
    color: var($primary-text);
    background-color: var($primary-bg);
    margin: 10px;
    display: inline-block;
}